body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1{
    color: #000;
}

p{
    color: #666;
    max-width:550px;
}

polygon{
    resize: 100;
}