header, footer{
    background-color: #6BA4E8
}

nav{
    background-color: #cb91eb
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

main{
    background-color: #D46BE8
}

section{
    background-color: #826BE8;
}

